$subtitle-color: #b2b7b9;
$tile-bg: #f6f9fb;
$tile-title-color: #b2b7b9;
$table-border-color: #e1e4e5;
$table-header-color: #b2b7b9;

.home-container {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
  border-bottom: 1px solid $table-border-color;
  h2 {
    font-size: 16px;
    font-weight: bold;
  }
}

.content-container {
  display: flex;
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.table-container {
  flex: 1;
  transition: flex 0.3s ease-in-out;
}

.table-container.with-details {
  flex: 0.87;
}

// .side-panel {
//   width: 30%;
//   min-width: 300px;
//   background: white;
//   padding: 16px;
//   box-shadow: -3px 0 10px rgba(0, 0, 0, 0.1);
//   border-left: 1px solid #e1e4e5;
// }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  border: 1px solid $table-border-color;

  th {
    background: $table-header-color;
    color: white;
    padding: 8px;
    font-size: 12px;
    text-align: left;
  }

  td {
    padding: 8px;
    border: 1px solid $table-border-color;
  }

  tr {
    &:hover {
      background: lighten($tile-bg, 5%);
      cursor: pointer;
    }
  }
}
